/* Настройки
----------------------------------------------------------- */
/* Подключение файлов
----------------------------------------------------------- */
@font-face {
  font-family: "PFDinCondPro-Regular";
  src: url("../fonts/pfdintextcondpro-regular-webfont.eot");
  src: url("../fonts/pfdintextcondpro-regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/pfdintextcondpro-regular-webfont.woff") format('woff'), url("../fonts/pfdintextcondpro-regular-webfont.ttf") format('truetype'), url("../fonts/pfdintextcondpro-regular-webfont.svg#pf_din_text_cond_proregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PFDinCondPro-Light";
  src: url("../fonts/pfdintextcondpro-light-webfont.eot");
  src: url("../fonts/pfdintextcondpro-light-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/pfdintextcondpro-light-webfont.woff") format('woff'), url("../fonts/pfdintextcondpro-light-webfont.ttf") format('truetype'), url("../fonts/pfdintextcondpro-light-webfont.svg#pf_din_text_cond_prolight") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PFDinCondPro-Bold";
  src: url("../fonts/pfdintextcondpro-bold-webfont.eot");
  src: url("../fonts/pfdintextcondpro-bold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/pfdintextcondpro-bold-webfont.woff") format('woff'), url("../fonts/pfdintextcondpro-bold-webfont.ttf") format('truetype'), url("../fonts/pfdintextcondpro-bold-webfont.svg#pf_din_text_cond_probold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PFDinCondPro-Medium";
  src: url("../fonts/pfdintextcondpro-medium-webfont.eot");
  src: url("../fonts/pfdintextcondpro-medium-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/pfdintextcondpro-medium-webfont.woff") format('woff'), url("../fonts/pfdintextcondpro-medium-webfont.ttf") format('truetype'), url("../fonts/pfdintextcondpro-medium-webfont.svg#pf_din_text_cond_promedium") format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  font: 100%/1.05 'PFDinCondPro-Regular', sans-serif;
  min-width: 1260px;
  text-rendering: optimizeSpeed;
}
p {
  font: inherit;
}
a {
  color: inherit;
  border: none;
  text-decoration: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  width: 1260px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  zoom: 1;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.heading,
.heading--xxl,
.heading--xl,
.heading--l,
.heading--m,
.heading--s,
.heading--xs,
.heading--xxs,
.b-bonus__heading,
.b-clients__heading,
.b-how-we-work__heading,
.b-leads__heading,
.b-leads__item__heading,
.b-order-form__heading,
.b-order-form__message,
.b-portfolio__heading,
.b-portfolio__item__heading,
.b-promo__heading--big,
.b-promo__heading--small,
.b-traffic__heading,
.b-traffic__item__heading {
  margin: 6px 0;
}
.heading--xxl,
.b-clients__heading,
.b-how-we-work__heading,
.b-portfolio__heading,
.b-promo__heading--big {
  font-size: 60px;
}
.heading--xl,
.b-leads__heading,
.b-order-form__heading,
.b-traffic__heading {
  font-size: 50px;
}
.heading--l,
.b-bonus__heading {
  font-size: 38px;
}
.heading--m,
.b-leads__item__heading,
.b-portfolio__item__heading {
  font-size: 32px;
}
.heading--s,
.b-order-form__message,
.b-promo__heading--small,
.b-traffic__item__heading {
  font-size: 30px;
}
.heading--xs {
  font-size: 24px;
}
.heading--xxs {
  font-size: 21px;
}
.heading--uppercase {
  text-transform: uppercase;
}
.heading--margin {
  margin-bottom: 15px;
}
.text,
.b-how-we-work__text {
  line-height: 1.15;
}
.bold {
  font-family: 'PFDinCondPro-Bold', sans-serif;
}
.link,
.b-portfolio__link {
  color: rgba(0,170,207,0.5);
  border-bottom: 1px solid rgba(0,170,207,0.5);
}
.link:hover,
.b-portfolio__link:hover {
  color: #00aacf;
  border-bottom: 1px solid #00aacf;
}
.form__label {
  display: block;
  margin: 22px 0;
}
.form__input,
.form__textarea {
  display: inline-block;
  padding: 14px 25px;
  width: 100%;
  background: #fff;
  font-family: inherit;
  font-size: 27px;
  border: none;
  outline: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.form__textarea {
  min-height: 160px;
}
.btn,
.btn--submit {
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
}
.btn--submit {
  width: 100%;
  padding: 14px 25px;
  background: #009ac2;
  font-size: 27px;
  color: #fff;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.btn--submit:hover {
  background: #0092b8;
}
::-webkit-input-placeholder {
  color: #7c7c7c;
}
:-moz-placeholder {
  color: #7c7c7c;
}
::-moz-placeholder {
  color: #7c7c7c;
}
:-ms-input-placeholder {
  color: #7c7c7c;
}
.b-bonus .container {
  padding: 50px 0 50px 150px;
  background: url("../img/b-bonus-bg.png") no-repeat 0 50px;
}
.b-bonus__heading {
  margin-bottom: 20px;
}
.b-bonus__text {
  font-size: 24px;
  color: #5c5c5c;
}
.b-bonus__text__bold {
  color: #00aa86;
}
.b-bonus__text strong {
  font-family: 'PFDinCondPro-Medium', sans-serif;
}
.b-clients {
  padding: 50px 0;
  height: 1260px;
  background: url("../img/b-clients-bg.jpg") repeat;
  color: #fff;
  text-align: center;
}
.b-clients__heading {
  color: #fff;
  text-shadow: 1px 1px 0px #6d6d6d;
}
.b-clients__items {
  margin: 80px 0;
}
.b-clients__item {
  display: inline-block;
  vertical-align: top;
  width: 415px;
  font-family: 'PFDinCondPro-Light', sans-serif;
}
.b-clients__item + .b-clients__item {
  margin-left: 0px;
}
.b-clients__image {
  margin-bottom: 25px;
}
.b-footer {
  height: 130px;
  padding: 40px 0 0;
  background: #282828;
  font-size: 18px;
  color: #fff;
  line-height: 1.25;
}
.b-footer .container {
  padding: 0 40px;
}
.b-footer__col {
  display: inline-block;
  vertical-align: middle;
}
.b-footer__phones {
  width: 680px;
  text-align: center;
}
.b-footer__phone {
  color: #fbcf00;
}
.b-footer__questions {
  text-align: right;
}
.b-footer__questions small {
  display: block;
  font-size: 13px;
}
.b-header {
  height: 84px;
  background: #f6f6f6;
  padding: 10px 0;
}
.b-header__col {
  display: inline-block;
  vertical-align: middle;
}
.b-header__logo {
  margin-right: 240px;
}
.b-header__phones,
.b-header__questions,
.b-header__stats {
  text-align: right;
  position: relative;
}
.b-header__phones {
  margin-right: 70px;
}
.b-header__stats {
  font-size: 25px;
  color: #808080;
  padding-right: 70px;
}
.b-header__stats:after {
  content: '';
  width: 65px;
  height: 70px;
  background: url("../img/doc-icon.png") no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}
.b-header__stats strong {
  font: 32px 'PFDinCondPro-Medium', sans-serif;
}
.b-header__questions {
  font-size: 15px;
  padding-right: 50px;
  margin-right: 70px;
}
.b-header__questions:after {
  content: '';
  width: 39px;
  height: 52px;
  background: url("../img/phone-icon.png") no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}
.b-header__questions strong {
  font-size: 17px;
}
.b-header__phone {
  font-size: 18px;
  margin: 5px 0;
}
.b-how-we-work {
  margin: 50px 0 100px;
/*padding 50px 0;*/
  text-align: center;
}
.b-how-we-work__heading {
  text-transform: uppercase;
  margin-bottom: 60px;
}
.b-how-we-work__item {
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  color: #505050;
}
.b-how-we-work__item + .b-how-we-work__item {
  margin-left: 23px;
}
.b-how-we-work__item + .b-how-we-work__item .b-how-we-work__text:before {
  content: '';
  width: 16px;
  height: 44px;
  background: url("../img/arrow-icon.png") no-repeat;
  position: absolute;
  left: -32px;
  top: 22px;
}
.b-how-we-work__image {
  display: block;
  margin: 0 0 15px;
}
.b-how-we-work__text {
  display: inline-block;
  position: relative;
}
.b-leads {
  padding: 45px 30px;
  background: #f6f6f6;
  text-align: center;
  position: relative;
}
.b-leads__heading {
  text-transform: uppercase;
}
.b-leads__slider__item {
  height: 390px;
}
.b-leads__item {
  display: inline-block;
  vertical-align: top;
  width: 350px;
  margin: 0 34px;
}
.b-leads__item__heading {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.b-leads__item__text {
  font-size: 18px;
  color: #7c7c7c;
  margin-bottom: 10px;
}
.b-leads__image {
  display: inline-block;
  margin-bottom: 15px;
}
.b-leads__price {
  font-size: 24px;
  color: #7c7c7c;
}
.b-leads__price span {
  font: 32px 'PFDinCondPro-Medium', sans-serif;
  color: #00aa86;
}
.b-leads .bx-wrapper {
  margin: 140px 0 !important;
}
.b-leads .bx-wrapper .bx-prev,
.b-leads .bx-wrapper .bx-next {
  width: 100%;
  height: 88px;
  background: #f2f2f2;
  font-size: 20px;
  color: #00aa86;
  text-transform: uppercase;
  position: absolute;
  left: 0;
}
.b-leads .bx-wrapper .bx-prev:hover,
.b-leads .bx-wrapper .bx-next:hover {
  background: #ededed;
}
.b-leads .bx-wrapper .bx-prev {
  top: 120px;
  padding: 20px 0 0;
}
.b-leads .bx-wrapper .bx-prev:before {
  display: block;
  margin: 0 auto 12px;
  content: '';
  background: url("../img/b-leads__slider-arrows.png") no-repeat;
  width: 49px;
  height: 16px;
}
.b-leads .bx-wrapper .bx-next {
  top: 1136px;
  padding: 20px 0 0;
}
.b-leads .bx-wrapper .bx-next:after {
  display: block;
  margin: 12px auto 0;
  content: '';
  background: url("../img/b-leads__slider-arrows.png") no-repeat 0 -26px;
  width: 49px;
  height: 16px;
}
.b-order-form {
  padding: 50px 0 0;
  height: 780px;
  background: url("../img/b-order-form-bg.jpg") no-repeat;
  color: #fff;
}
.b-order-form .container {
  padding: 0 40px;
}
.b-order-form__heading {
  text-align: center;
  text-transform: uppercase;
}
.b-order-form__phone__operator,
.b-order-form__phone__number {
  margin-left: 20px;
}
.b-order-form__phone__code {
  width: 82px;
}
.b-order-form__phone__operator {
  width: 125px;
}
.b-order-form__phone__number {
  width: 926px;
}
.b-order-form__message {
  padding: 70px 50px 70px 150px;
  background: url("../img/main-icon.png") no-repeat 25px 50%;
  color: #464444;
}
.b-portfolio {
  padding: 50px 0 0;
  background: #f6f6f6;
  text-align: center;
}
.b-portfolio__heading {
  text-transform: uppercase;
}
.b-portfolio__item {
  display: inline-block;
  vertical-align: top;
  width: 335px;
  margin: 75px 40px;
}
.b-portfolio__item__heading {
  margin-bottom: 10px;
}
.b-portfolio__image {
  display: inline-block;
  margin-bottom: 18px;
}
.b-portfolio__link {
  font-size: 21px;
  position: relative;
}
.b-portfolio__link:before {
  content: '';
  background: url("../img/music-icon.png") no-repeat;
  width: 31px;
  height: 31px;
  position: absolute;
  left: -34px;
  bottom: -5px;
}
.b-promo {
  padding: 50px 0;
  height: 626px;
  background: url("../img/b-promo-bg.jpg") repeat center center;
  text-align: center;
  color: #fff;
}
.b-promo__heading--big {
  text-shadow: 1px 2px 0px #6d6d6d;
  margin-bottom: 270px;
}
.b-promo__heading--big span {
  font-size: 70px;
  text-transform: uppercase;
}
.b-promo__heading--small {
  margin: 0 0 15px;
}
.b-promo__info {
  font-size: 17px;
}
.b-schemes {
  padding: 50px 0;
  text-align: center;
}
.b-schemes__heading {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.b-schemes__step {
  display: inline-block;
  vertical-align: bottom;
}
.b-schemes__text {
  color: #6f6f6f;
  font: 19px 'PFDinCondPro-Bold', sans-serif;
  margin-top: 22px;
}
.b-schemes__approach--usual {
  margin: 0 0 100px;
}
.b-schemes__approach--usual .b-schemes__step + .b-schemes__step {
  margin-left: 25px;
}
.b-schemes__approach--our .b-schemes__step + .b-schemes__step {
  margin-left: 45px;
}
.b-traffic {
  padding: 38px 0;
  background: #ffc000;
  height: 538px;
  color: #fff;
  text-align: center;
}
.b-traffic__heading {
  text-shadow: 1px 1px 0px #6d6d6d;
  text-transform: uppercase;
}
.b-traffic__attention {
  display: inline-block;
  padding: 20px 16px;
  margin-left: 160px;
  font-size: 46px;
  background: #c41212;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
.b-traffic__attention:before {
  content: '';
  background: url("../img/b-traffic__attention.png") no-repeat;
  width: 142px;
  height: 124px;
  position: absolute;
  left: -160px;
  bottom: -12px;
}
.b-traffic__items {
  margin: 40px 0 80px;
}
.b-traffic__item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 168px;
}
.b-traffic__item + .b-traffic__item {
  margin-left: 45px;
}
.b-traffic__item + .b-traffic__item:before {
  content: '+';
  font: 105px 'PFDinCondPro-Light', sans-serif;
  position: absolute;
  left: -45px;
  top: 0;
}
.b-traffic__item__heading {
  font-family: 'PFDinCondPro-Medium', sans-serif;
  text-transform: uppercase;
}
.b-traffic__item img {
  margin-bottom: 10px;
}
